# Numbers and Strings

In Python, like any other programming language and life in general, we _do things_ with _stuff_. Most of this course will focus on the things we do and how to do them. But today we will talk about the stuff.

Almost everything in Python is an object. We will deal with numbers, text, lists, dictionaries... all of these things are different types of Python objects.

The type of an object defines what can you do with it, and how will it behave. For example, you can add two numbers together, and as long as they are a type of python number, they will behave just as in maths: you will receive the product of the two numbers

In [ ]:
2 + 2

4

But if you try to sum two strings, the behaviour will be different:

In [ ]:
"2" + "2"

'22'

Any object in Python can be assigned to a variable with the `=` operator. Variables are just names for objects - they're nicknames that allow us to identify or call our objects.

In [ ]:
result = 4 + 3

At any point, we can retrieve whatever we stored in a variable by using its name:

In [ ]:
# https://cs.stanford.edu/people/nick/py/python-print.html

print(result)

7

If we want to find out what type of object a variable is, we can ask it with the function `type()`, like this:

In [ ]:
# https://www.programiz.com/python-programming/methods/built-in/type

type(result)

int

###### **Exercise 1:**
add `100` and `3.4`. Assign it to the variable `addition`. Print the type of that variable.

In [ ]:
add=100+3.4
print(type(add))

<class 'float'>

## Booleans

The values `True` and `False` are special in Python. They are called "booleans".

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

If you try to use mathematical operations with booleans, will see how `True` equates to `1` and `False` equates to `0`

In [ ]:
True + True

2

In [ ]:
False + False

0

## Integers

Integers are whole numbers (without fractions or decimal points) that can be positive or negative.

In [ ]:
type(-8)

int

You can use mathmatical operators with integers (and floats):

- `+` Addition
- `-` Substraction
- `*` Multiplication
- `/` Floating-point division
- `//` Truncating division
- `%` Modulus
- `**` Exponentiation

###### **Exercise 2:**
assign the number corresponding to the present year to the variable `year` and your age to the variable `age`. Operate with both variables to create a new variable called `birth_year`.

In [ ]:

age=36
age=age+1
birth_year=print(age)

37

You can update the value of a variable like this:

In [ ]:
age = 30
age = age + 1
print(age)

31

Or you can get the same output by combining both arithmetic operators like this:

In [ ]:
age = 30
age += 1
print(age)

31

The same holds for other mathmatical operators

###### **Exercise 3:**
create a variable called `price` with the value `100`. Then update its value in a single line by multiplying it by `2`.

In [ ]:
price=100
print(price*2)

200

You can convert stuff that's not an integer to an integer with the function `int`:

In [ ]:
# https://www.w3schools.com/python/ref_func_int.asp

int(3.14)

3

In [ ]:
int("4")

4

If you try to convert to an integer something that cannot be interpreted as such, you will get an *exception*:

In [ ]:
int("Hey hey hey")

ValueError: ignored

## Floats

Floats are numbers with decimal places

In [ ]:
3.

3.0

They can include the letter e for an exponent:

In [ ]:
3e2

300.0

The function `float()` can be used to convert integers to floats:

In [ ]:
float(24)

24.0

###### **Exercise 4:**
calculate how many seconds are there in a year. Store that number in a variable called `year_seconds`.

In [ ]:
year_seconds=print(365.25*24*60*60)

31557600.0

###### **Exercise 5:**
multiply your result of year_seconds by your age, and store it in a new variable called `life_seconds`.

In [ ]:
age=37
years_second=31557600.0
life_seconds=print(age*years_second)

1167631200.0

###### **Exercise 6:**
calculate how many seconds you'll spend in this bootcamp. Store it into a variable called `bootcamp`.

In [ ]:
bootcamp=print(15*7*24*60*60)

9072000

###### **Exercise 7:**
calculate what percentage of your life you will spend on this bootcamp.

In [ ]:
print(9072000/3600)

2520.0

## Text Strings

You will use text just as much as numbers when programming. Strings are created with either single quotes `'` or double quotes `"`:

In [ ]:
print("A string with double quotes")

print('A string with single quotes')

A string with double quotes
A string with single quotes

Having two possible quotation signs allows for having strings with quotes inside:

In [ ]:
print("The name of our school is 'WBS CODING SCHOOL', which can be abbreviated to 'WBSCS'")

print('The name of our school is "WBS CODING SCHOOL", which can be abbreviated to "WBSCS"')

The name of our school is 'WBS CODING SCHOOL', which can be abbreviated to 'WBSCS'
The name of our school is "WBS CODING SCHOOL", which can be abbreviated to "WBSCS"

If you need to create a multiple-line string, you can use triple quotes:

In [ ]:
poem = """Hold fast to dreams
For if dreams die
Life is a broken-winged bird
That cannot fly.
Hold fast to dreams
For when dreams go
Life is a barren field
Frozen with snow."""

print(poem)

Hold fast to dreams
For if dreams die
Life is a broken-winged bird
That cannot fly.
Hold fast to dreams
For when dreams go
Life is a barren field
Frozen with snow.

You can create a string out of another data type with `str()`:

In [ ]:
# https://www.w3schools.com/python/ref_func_str.asp

str_88 = str(88)
print(str_88)

88

In [ ]:
type(str_88)

str

Some characters in python can have a special meaning.
By using a backslash `\` preceding a character, we "escape" its usual meaning and give a special meaning to it. 

For example, `\n` will add a new line, and `\t` will add a tab:

In [ ]:
print("This is the first line\nAnd this is the second one.")

This is the first line
And this is the second one.

In [ ]:
print("Before the tab\tAnd after the tab.")

Before the tab	And after the tab.

Similarly, you can escape quotes by using `\`:

In [ ]:
fact = "The world's largest rubber duck was 54'2\" by 67'7\" by 105'"
print(fact)

The world's largest rubber duck was 54'2" by 67'7" by 105'

If you need to use a backslash inside your string, you type `\\`: the first backslash escapes the second one:

In [ ]:
print("Please contemplate a single, one —and only one— backslash: \\")

Please contemplate a single, one —and only one— backslash: \

By typing `r` before the quotes, we denote a string as a _raw string_, which will ignore any special meaning:

In [ ]:
raw_str = r"This will not create a new line \n and here we will see two backslashes \\"
print(raw_str)

This will not create a new line \n and here we will see two backslashes \\

You can combine strings using `+` and multiply them with `*`:

In [ ]:
print("Data" + "Science")

DataScience

In [ ]:
print("Data"*10)

DataDataDataDataDataDataDataDataDataData

Using `[]` you can grab certain characters from a string by specifying their position
- We use positive numbers to start counting from the begining of a string. The 1st letter is position `[0]` 
- We use negative numbers to start counting from the end of a string. The last letter is position `[-1]`

In [ ]:
letters = "abcdefghijklmnopqrstuvwxyz"

letters[0]

'a'

In [ ]:
letters[2]

'c'

In [ ]:
letters[-1]

'z'

In [ ]:
letters [-4]

'w'

You can _slice_ a string using `[start:end]`. Note that the start is inclusive, but the end is not:

In [ ]:
letters[1:5]

'bcde'

If you don't specify the start, the slice will start at the beginning of the string. Same goes for the end:

In [ ]:
letters[:4]

'abcd'

In [ ]:
letters[4:]

'efghijklmnopqrstuvwxyz'

Counting how many characters are there in a string can be done with `len()`:

In [ ]:
# https://www.w3schools.com/python/ref_func_len.asp

len(letters)

26

The `split` function lets you break a string into smaller strings. The split occurs every time a certain character appears in the string, such as a comma or full stop.

In [ ]:
jobs = "Data Scientist, Data Analyst, Data Engineer, Business Analyst, Marketing Analyst, Analytics Consultant"

In [ ]:
jobs

'Data Scientist, Data Analyst, Data Engineer, Business Analyst, Marketing Analyst, Analytics Consultant'

In [ ]:
# https://www.w3schools.com/python/ref_string_split.asp

jobs.split(",")

['Data Scientist',
 ' Data Analyst',
 ' Data Engineer',
 ' Business Analyst',
 ' Marketing Analyst',
 ' Analytics Consultant']

You can substitute a character using `replace()`:

In [ ]:
# https://www.w3schools.com/python/ref_string_replace.asp

jobs.replace("Data", "Duck")

'Duck Scientist, Duck Analyst, Duck Engineer, Business Analyst, Marketing Analyst, Analytics Consultant'

You can specify how many times do you want to make that replacement:

In [ ]:
jobs.replace("Data", "Duck", 2)

'Duck Scientist, Duck Analyst, Data Engineer, Business Analyst, Marketing Analyst, Analytics Consultant'

A very common process in data cleaning is to remove preceeding and trailing spaces from strings. The function `strip()` does exactly that:

In [ ]:
wow = "                     wow                     "
print(wow)

                     wow

In [ ]:
# https://www.w3schools.com/python/ref_string_strip.asp

wow.strip()

'wow'

There are many more string methods in Python. Browse through them here: https://www.w3schools.com/python/python_ref_string.asp 

About 99.9% of the time, coding does not mean memorizing functions and knowing them off by heart, but being quick in finding the function you need, discovering how to use them, reading the documentation, or simply adapting coding examples from the internet to meet your needs. 

In the exercises below, you will have to use several Python string methods, in combination with what you've learned here. Use the link from _w3schools_ or Google around to complete them.

###### **Exercise 8:**
create a Python string with the following text, and assign it to the variable `data_science`:

Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains. 

Data science is related to data mining, machine learning and big data. Data science is a "concept to unify statistics, data analysis, informatics, and their related methods" in order to "understand and analyze actual phenomena" with data. It uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is different from computer science and information science. Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.

In [ ]:
# your code here

###### **Exercise 9:**
how many characters are there in `data_science`?

In [ ]:
# your code here

###### **Exercise 10:**
convert all of `data_science` to lower case.

In [ ]:
# your code here

###### **Exercise 11:**
how many times does the word "data" appear in the string you converted to lower case?

In [ ]:
# your code here

###### **Exercise 12:**
separate the string into sentences, splitting it whenever there is a fullstop (`.`).

In [ ]:
# your code here

###### **Exercise 13:**
capitalise the first letter of every word in the string.

In [ ]:
# your code here

###### **Exercise 14:**
find the index of the word "Turing" in the string.

In [ ]:
# your code here

## Formatting with f-strings

Strings can be concatenated with `+`. Sometimes, you need to [_interpolate_](https://en.wikipedia.org/wiki/String_interpolation) values into strings. 

Say you work for a logistics company and have a script that calculates the number of trucks that should be made ready for the next day. You want this number to be included in the sentence of an email: `"For tomorrow, we will need x trucks."` But replacing x with the number of trucks, which will vary each day.

This task is known as formatting strings. It can be confusing to learn this by just browsing the internet because there are many ways to format strings in Python: the old one (using `%`), the new one (using `{}`and `format()`) and the newest one (using `f-strings`).

We will only show you how to use f-strings, but be ready to stumble into the other ones at any time!

In [ ]:
n_trucks = 73

email = f"For tomorrow, we will need {n_trucks} trucks."

print(email)

For tomorrow, we will need 73 trucks.

The curly brackets support expressions like these:

In [ ]:
place = "main garage"

email = f"For tomorrow, we will need {n_trucks+10} trucks in the {place.title()}."

print(email)

For tomorrow, we will need 83 trucks in the Main Garage.

###### **Exercise 15:**
convert the `data_science` string from the previous exercise into an f-string, replacing the name "Jim Gray" with the variable `jim`:

In [ ]:
jim = "James Nicholas Gray"

In [ ]:
# your code here